{% extends "main.html" %}
{% block content %}
{% include 'header.html' %}

  <div class="row">
    <div class="col-sm-4">
      {% include 'flash-message.html' %}
    </div>
    <div class="col-sm-8">
      {% if auth %}
        <a href="{{url_for('addItem')}}">Add Item</a>
      {% else %}
        <a href="#">&nbsp</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2><a href="{{url_for('showCatalog')}}">Categories</a></h2>

    {% for c in categories %}
      <div class="category">
        <a href="{{url_for('showCatalog', category=c)}}">{{c}}</a>
      </div>
    {% endfor %}

    </div>
    <div class="col-sm-8">

    {% if category %}
      <h2>{{category}} Items ({{catalog | length}} total)</h2>
    {% else %}
      <h2>Latest Items</h2>
    {% endif %}

    {% for item in catalog %}

      <div class="item">
        <a href= "{{url_for('showItem', item_id = item.id)}}">{{item.name}}</a>
      
      {% if not category %}
        <span class="category">({{item.category}})</span>
      {% endif %}
      
      </div>

    {% endfor %}

    </div>
  </div>
{% endblock %}
